<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= font.include %>">
  <title>*|MC:SUBJECT|*</title>

  <link rel="stylesheet" href="resume.css">
  <style type="text/css" sr>


  </style>
</head>


<body>

<div class="resume-outer-wrap clearfix">
  <div class="resume clearfix" id="divResumeHTML">
    <div id="document" class="fontsize fontface vmargins hmargins linespacing pagesize">
      <div id="SECTION_PICT764112016" class=" firstsection" style="padding-top:0px;"></div>
      <div id="SECTION_NAME764112009" class="section" style="padding-top:0px;">
        <div id="PARAGRAPH_764112009_1_495256499" class="paragraph PARAGRAPH_NAME firstparagraph">
          <div class="name" itemprop="name"><span class="field" id="764112009FNAM1"></span><span></span><span class="field" id="764112009LNAM1">SENIOR ANDROID DEVELOPER</span></div>
          <div class="lowerborder"></div>
        </div>
      </div>
      <div id="SECTION_SUMM764112013" class="section" style="padding-top:0px;">
        <div class="heading">
          <div id="SECTNAME_SUMM764112013" class="sectiontitle">Professional Summary</div>
        </div>
        <div id="PARAGRAPH_764112013_1_495256508" class="paragraph firstparagraph">
          <div class="field singlecolumn" id="764112013FRFM1">A self-motivated and curious being with over 4 years of experience in making quality mobile applications that adhere to core android design principles. Proficient in Android SDK, Java and SQL. Adept at prioritizing and completing tasks to meet business requirements. A team player who is attentive to detail and able to work in a fast paced environment. Excellent oral and written communication skills.</div>
        </div>
      </div>
      <div id="SECTION_HILT764112014" class="section" style="padding-top:0px;">
        <div class="heading">
          <div id="SECTNAME_HILT764112014" class="sectiontitle">Skills</div>
        </div>
        <div id="PARAGRAPH_764112014_1_495256509" class="paragraph firstparagraph">
          <div class="singlecolumn maincolumn">
            <table class="twocol">
              <tbody>
              <tr>
                <td class="field twocol_1" id="764112014SKC11">
                  <ul>
                    <li>Java/C/C++<br></li>
                    <li>SQLite, NoSQL, MySQL</li>
                    <li>Android Studio, Eclipse, Android SDK</li>
                    <li>Monkey Runner, Hierarchy Viewer, Lint, JIRA, Stash, Confluence, Artifactory, Jenkins, gimp, Gradle</li>
                    <li>Scrum, Kanban, Feature Driven Development</li>
                  </ul>
                </td>
                <td class="field twocol_2" id="764112014SKC21">
                  <ul>
                    <li>SVN, Git, SourceTree&nbsp;</li>
                    <li>Parse, Firebase</li>
                    <li>Singleton, Adapter, Bridge, Controller, Proxy, Factory patterns</li>
                    <li>HTML, XML, PHP, CSS, XAMPP</li>
                    <li>Windows, RHEL, Fedora, Ubuntu, Minix3</li>
                  </ul>
                </td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div id="SECTION_EXPR764112011" class="section" style="padding-top:0px;">
        <div class="heading">
          <div id="SECTNAME_EXPR764112011" class="sectiontitle">Work History</div>
        </div>
        <div id="PARAGRAPH_764112011_1_495256501" class="paragraph firstparagraph" itemscope="" itemtype="https://schema.org/Organization">
          <div class="singlecolumn"><span class="paddedline" style="display: inline;"><span class="jobtitle" id="764112011JTIT1">Senior Android Developer</span><span>, </span></span><span class="paddedline" style="display: inline;"><span class="jobdates" format="%m/%Y" id="764112011JSTD1">03/2015</span><span> to </span><span class="jobdates" format="%m/%Y" id="764112011EDDT1">Current</span><br></span><span class="paddedline" itemscope="" itemtype="https://schema.org/postalAddress"><span class="companyname" id="764112011COMP1" itemprop="name">Company Name</span><span> – </span><span class="joblocation jobcity" id="764112011JCIT1" itemprop="addressLocality">City</span><span>, </span><span class="joblocation jobstate" id="764112011JSTA1" itemprop="addressRegion">State</span><br></span><span class="jobline" id="764112011JDES1" itemprop="description">
                            <ul>
                                <li>Developing new features for a widely popular, multi-award winning money transfer application, Pingit.</li>
                                <li>Implementing a feature to allow third party applications and websites to pay for goods using Pingit</li>
                                <li>Provided methodologies adhering to Android design principles and patterns to create sleek user experience and custom notifications</li>
                                <li>Proposed and implemented new automation mechanism in Gradle to create automated builds. The proposed solution is now implemented in all android projects</li>
                                <li>Working in agile environment with team in UK/India and have consistently met deadlines and requirements for product deliverables.</li>
                                <li>Mentoring Junior developers [3] by creating cogent documentations about features and participating regular innovation sessions.</li>
                                <li>App URL -&nbsp;https://play.google.com/store/apps/details?id=com.barclays.apps.pingit&amp;hl=en</li>
                                <li>Awards and recognition for Pingit -&nbsp;http://www.barclays.co.uk/Awards/Awardwinningbanking/P1242628894224</li>
                            </ul>
                        </span></div>
        </div>
        <div id="PARAGRAPH_764112011_2_495256502" class="paragraph" itemscope="" itemtype="https://schema.org/Organization">
          <div class="singlecolumn"><span class="paddedline" style="display: inline;"><span class="jobtitle" id="764112011JTIT2">Mobile Application Developer</span><span>, </span></span><span class="paddedline" style="display: inline;"><span class="jobdates" format="%m/%Y" id="764112011JSTD2">08/2012</span><span> to </span><span class="jobdates" format="%m/%Y" id="764112011EDDT2">03/2015</span><br></span><span class="paddedline" itemscope="" itemtype="https://schema.org/postalAddress"><span class="companyname" id="764112011COMP2" itemprop="name">Company Name</span><span class="joblocation jobcity" id="764112011JCIT2" itemprop="addressLocality"></span><span class="joblocation jobstate" id="764112011JSTA2" itemprop="addressRegion"></span><br></span><span class="jobline" id="764112011JDES2" itemprop="description">
                            <p>Client: Barclays
                            </p>
                            <ul>
                                <li style="text-align: left;">Involved in information
                                    gathering, making Proof of Concepts for upcoming features and integrating
                                    them seamlessly with the application</li>
                                <li style="text-align: left;">Implemented Application Tour
                                    for different screen sizes</li>
                                <li style="text-align: left;">Modified the existing Suggest
                                    Ideas feature using custom searchable Listview with ViewHolder design
                                    pattern which improved the performance</li>
                                <li style="text-align: left;"> Using the RESTful Web
                                    services and JSON to parse the XML data into well formatted
                                    structure</li>
                                <li style="text-align: left;">Implemented Restricted
                                    Profile feature for users with spending restrictions and Daily
                                    Transaction Reports for business users using custom UI enhancements
                                    such as Overlay layouts, Styles and themes, reusing layouts</li>
                                <li style="text-align: left;">Implemented Buy it feature
                                    that enables users to scan a product and have it shipped to house using Zxing
                                    library</li>
                                <li style="text-align: left;"> Created a Utility class that
                                    houses several methods to validate and format user entries such as Phone
                                    Number, Email address, Name etc. using regular expressions</li>
                            </ul>
                        </span></div>
        </div>
        <div id="PARAGRAPH_764112011_3_495256503" class="paragraph" itemscope="" itemtype="https://schema.org/Organization">
          <div class="singlecolumn"><span class="paddedline" style="display: inline;"><span class="jobtitle" id="764112011JTIT3">System Administrator [Graduate Research Assistant]</span><span>, </span></span><span class="paddedline" style="display: inline;"><span class="jobdates" format="%m/%Y" id="764112011JSTD3">02/2011</span><span> to </span><span class="jobdates" format="%m/%Y" id="764112011EDDT3">05/2012</span><br></span><span class="paddedline" itemscope="" itemtype="https://schema.org/postalAddress"><span class="companyname" id="764112011COMP3" itemprop="name">Company Name</span><span> – </span><span class="joblocation jobcity" id="764112011JCIT3" itemprop="addressLocality">City</span><span>, </span><span class="joblocation jobstate" id="764112011JSTA3" itemprop="addressRegion">State</span><br></span><span class="jobline" id="764112011JDES3" itemprop="description">
                            <ul>
                                <li>Installation,
                                    configuration and maintenance of Linux, Windows machines in research labs</li>
                                <li>Hardware
                                    and software troubleshooting</li>
                                <li>Web
                                    development using HTML, PHP, CSS and XAMPP server</li>
                                <li>Central
                                    authentication using LDAP and configuring NFS</li>
                            </ul>
                        </span></div>
        </div>
        <div id="PARAGRAPH_764112011_4_495256504" class="paragraph" itemscope="" itemtype="https://schema.org/Organization">
          <div class="singlecolumn"><span class="paddedline" style="display: inline;"><span class="jobtitle" id="764112011JTIT4">Academic Project - Hungry Bird</span><span>, </span></span><span class="paddedline" style="display: inline;"><span class="jobdates" format="%m/%Y" id="764112011JSTD4">08/2011</span><span> to </span><span class="jobdates" format="%m/%Y" id="764112011EDDT4">12/2011</span><br></span><span class="paddedline" itemscope="" itemtype="https://schema.org/postalAddress"><span class="companyname" id="764112011COMP4" itemprop="name">Company Name</span><span> – </span><span class="joblocation jobcity" id="764112011JCIT4" itemprop="addressLocality">City</span><span>, </span><span class="joblocation jobstate" id="764112011JSTA4" itemprop="addressRegion">State</span><br></span><span class="jobline" id="764112011JDES4" itemprop="description">
                            <ul>
                                <li>Created
                                    an android application that assists users in finding nearby restaurants and
                                    lists the menu items that match user's eating preferences and desired calories
                                    range.</li>
                                <li>Integrated
                                    Google APIs with android SDK and used map Overlays to display different
                                    restaurants.</li>
                                <li>Connected
                                    an external MySQL database to android for data retrieval using JSON parsing.</li>
                                <li>Posted the application on GetJar - http://www.getjar.com/mobile/281945/hungry-bird</li>
                            </ul>
                        </span></div>
        </div>
        <div id="PARAGRAPH_764112011_5_495256505" class="paragraph" itemscope="" itemtype="https://schema.org/Organization">
          <div class="singlecolumn"><span class="paddedline" style="display: inline;"><span class="jobtitle" id="764112011JTIT5">Academic Project work for Texas Scottish Rite Hospital, Dallas TX</span><span>, </span></span><span class="paddedline" style="display: inline;"><span class="jobdates" format="%m/%Y" id="764112011JSTD5">08/2011</span><span> to </span><span class="jobdates" format="%m/%Y" id="764112011EDDT5">12/2011</span><br></span><span class="paddedline" itemscope="" itemtype="https://schema.org/postalAddress"><span class="companyname" id="764112011COMP5" itemprop="name">Company Name</span><span> – </span><span class="joblocation jobcity" id="764112011JCIT5" itemprop="addressLocality">City</span><span>, </span><span class="joblocation jobstate" id="764112011JSTA5" itemprop="addressRegion">State</span><br></span><span class="jobline" id="764112011JDES5" itemprop="description">
                            <ul>
                                <li>Participated
                                    in SDLC of the application and helped create UML, sequence diagrams.</li>
                                <li>Worked
                                    on the Alert User use case which
                                    would notify the doctors/nurses about pending results, tests and patient visits
                                    and applied several design patterns to the same.</li>
                                <li>Created
                                    an Email alert to send automatic notifications to doctors using Java Mail and
                                    Java Timer.</li>
                                <li>Developed GUI of the application using
                                    JSP, XML.<br></li>
                            </ul>
                        </span></div>
        </div>
      </div>
      <div id="SECTION_EDUC764112012" class="section" style="padding-top:0px;">
        <div class="heading">
          <div id="SECTNAME_EDUC764112012" class="sectiontitle">Education</div>
        </div>
        <div id="PARAGRAPH_764112012_1_495256506" class="paragraph firstparagraph" itemscope="" itemtype="https://schema.org/EducationalOrganization">
          <div class="singlecolumn"><span class="paddedline" itemprop="description"><span class="degree" id="764112012DGRE1" itemprop="name">Master of Science</span><span>: </span><span class="programline" id="764112012STUY1">Computer Science</span><span>, </span><span class="jobdates" id="764112012GRYR1">May 2012</span><br></span><span class="paddedline"><span class="companyname companyname_educ" id="764112012SCHO1" itemprop="name">University of Texas at Arlington</span><span> - </span><span class="joblocation jobcity" id="764112012SCIT1">City</span><span>, </span><span class="joblocation jobstate" id="764112012SSTA1">State</span><br></span><span class="field" id="764112012FRFM1">Computer Science</span></div>
        </div>
        <div id="PARAGRAPH_764112012_2_495256507" class="paragraph" itemscope="" itemtype="https://schema.org/EducationalOrganization">
          <div class="singlecolumn"><span class="paddedline" itemprop="description"><span class="degree" id="764112012DGRE2" itemprop="name">Bachelor of Science</span><span>: </span><span class="programline" id="764112012STUY2">Computer Engineering</span><span>, </span><span class="jobdates" id="764112012GRYR2">May 2010</span><br></span><span class="paddedline"><span class="companyname companyname_educ" id="764112012SCHO2" itemprop="name">St. Vincent Pallotti College of Engineering and Technology</span><span> - </span><span class="joblocation jobcity" id="764112012SCIT2">City</span><span>, </span><span class="joblocation jobstate" id="764112012SSTA2">State</span><br></span><span class="field" id="764112012FRFM2">Computer Engineering</span></div>
        </div>
      </div>
      <div id="SECTION_CUST764133907" class="section" style="padding-top:0px;">
        <div class="heading">
          <div id="SECTNAME_CUST764133907" class="sectiontitle">Hobbies</div>
        </div>
        <div id="PARAGRAPH_764133907_1_495272193" class="paragraph firstparagraph">
          <div class="field singlecolumn" id="764133907FRFM1">Discuss Ideas, sketching and handwriting, cooking, soccer, playing drums und lerne Deutsch!</div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>


</html>
