<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml"
      xmlns:o="urn:schemas-microsoft-com:office:office">


<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="<%= font.include %>">
  <title>*|MC:SUBJECT|*</title>


  <style type="text/css">


  </style>
</head>


<body>
  <div id="document" class="document fontsize fontface vmargins hmargins  pagesize skn-srz1 SRZ1  ZTY "><div id="CONTAINER_PARENT_0" class="parentContainer"><div id="CONTAINER_0" class="left-box"><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-NAME"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_NAME11337129-4c8e-4b62-a834-7c579b7d87ad" class="section notdraggable SECTION_NAME firstsection    " data-section-cd="NAME"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_NAME_d08716d0-cafb-7ae6-75cc-110b7e778319" class="paragraph PARAGRAPH_NAME firstparagraph placeholder-text "><div>
    <div class="name word-break">
      <span class="field" id="FIELD_FNAM">Your</span>
      <span class="field word-break" id="FIELD_LNAM">Name</span>
    </div>
    <div class="resumeTitle placeholder-text" id="FIELD_DCTL">Profession</div>
  </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-CNTC"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_CNTC645c7561-70cb-4300-b759-91cad06ef2c4" class="section SECTION_CNTC notdraggable     " data-section-cd="CNTC"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_CNTC">Contact<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_CNTC_29a1b060-7ca8-642c-8d79-22cdede9ad24" class="paragraph PARAGRAPH_CNTC firstparagraph  "><div class="clearfix doc-item">
    <div class="address">
      <div class="singlecolumn">
        <div dependency="STRT|CITY|STAT|ZIPC">
          <div class="txtBold"><span class="xslt_static_change">Address </span></div>
          <div class="field" id="FIELD_STRT"></div>
          <span class="field" id="FIELD_CITY">Singapore</span><span dependency="CITY+STAT|ZIPC">,</span>
          <span class="field" id="FIELD_STAT"></span>
          <span class="field" id="FIELD_ZIPC">13</span>
        </div>

      </div>
    </div>
  </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-HILT"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_HILT663613eb-6d77-439b-bdef-6d19589378ea" class="section SECTION_HILT  noparagraph   " data-section-cd="HILT"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_HILT">Skills<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_HILT_0" class="paragraph PARAGRAPH_HILT firstparagraph placeholder-text "><div class="clearfix doc-item">
    <div class="singlecolumn maincolumn">
      <span class="paddedline" id="FIELD_SKC1"><ul><li>Guest services</li><li>Inventory control procedures</li><li>Merchandising expertise</li></ul></span>

      <span class="paddedline txtRight" id="FIELD_RATT"></span>
    </div>
  </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-LANG"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_LANG3e6f75b7-0c4f-4b5e-9cc1-3bd5252fe88b" class="section SECTION_LANG     " data-section-cd="LANG"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_LANG">Languages<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_LANG_c9176d4c-27db-4e8b-ad2b-3b65e86bf2fb" class="paragraph PARAGRAPH_LANG firstparagraph  "><div class="clearfix doc-item">
    <div class="singlecolumn">
      <div class="field" id="FIELD_FRFM">English: Intermediate</div>

      <span class="paddedline txtRight" id="FIELD_RATT"></span>
    </div>
  </div></div></div></div></div></div></div></div><div id="CONTAINER_1" class="right-box"><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-SUMM"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_SUMM502f0c43-7396-4e12-97a5-11395e7d2be2" class="section summary notdraggable SECTION_SUMM  noparagraph   " data-section-cd="SUMM"><div class=" doc-item"><div class=""><div class=""><div id="PARAGRAPH_SUMM_0" class="paragraph PARAGRAPH_SUMM firstparagraph placeholder-text "><div class="clearfix doc-item">
    <div class="field singlecolumn" id="FIELD_FRFM">Highly motivated Sales Associate with extensive customer service and sales experience. Outgoing sales professional with track record of driving increased sales, improving buying experience and elevating company profile with target market.</div>
  </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-EXPR"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_EXPR6db81c0a-f61d-49f1-8a79-2ae979995659" class="section experience SECTION_EXPR   multi-para  " data-section-cd="EXPR"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_EXPR">Work History<span class="rename-section text-rename"> </span></div></div><div class=""><div class="sortableInner"><div id="PARAGRAPH_EXPR_f00634a4-a5aa-4e42-b20f-2275493b0ac4" class="paragraph datespara PARAGRAPH_EXPR firstparagraph  "><div class="clearfix doc-item">
    <div class="paddedline date-content hidedates" dependency="JSTD|EDDT">
      <span class="jobdates" dependency="JSTD">2007-03</span><span dependency="JSTD+EDDT"> - </span>
      <span class="jobdates" dependency="EDDT">2007-03</span><br dependency="JTIT|COMP|JSTA|JCIT">
    </div>
    <div class="singlecolumn">
      <div class="paddedline date-content" dependency="JSTD|EDDT">
        <span class="jobdates" id="FIELD_JSTD" format="%Y-%m">2017-01</span><span dependency="JSTD+EDDT"> - </span>
        <span class="jobdates" id="FIELD_EDDT" format="%Y-%m">Current</span><br dependency="JTIT|COMP|JSTA|JCIT">
      </div>
      <span class="paddedline" dependency="JTIT">
                                  <span class="jobtitle txtBold" id="FIELD_JTIT">Leader</span>
                              </span>
      <span class="paddedline locationGap txtItl" dependency="COMP|JSTA|JCIT">
                                  <span class="companyname" id="FIELD_COMP">VISERVICE COMPANY</span>
                                  <span class="jobcity" id="FIELD_JCIT"></span>
                                  <span class="jobstate" id="FIELD_JSTA"></span>
                              </span>

      <span class="jobline" id="FIELD_JDES"></span>
    </div>
  </div></div><div id="PARAGRAPH_EXPR_6616b68c-bd29-4a82-b660-5bc98c0bdc3b" class="paragraph datespara PARAGRAPH_EXPR  "><div class="clearfix doc-item">
    <div class="paddedline date-content hidedates" dependency="JSTD|EDDT">
      <span class="jobdates" dependency="JSTD">2007-03</span><span dependency="JSTD+EDDT"> - </span>
      <span class="jobdates" dependency="EDDT">2007-03</span><br dependency="JTIT|COMP|JSTA|JCIT">
    </div>
    <div class="singlecolumn">
      <div class="paddedline date-content" dependency="JSTD|EDDT">
        <span class="jobdates" id="FIELD_JSTD" format="%Y-%m">2015-01</span><span dependency="JSTD+EDDT"> - </span>
        <span class="jobdates" id="FIELD_EDDT" format="%Y-%m">2017-01</span><br dependency="JTIT|COMP|JSTA|JCIT">
      </div>
      <span class="paddedline" dependency="JTIT">
                                  <span class="jobtitle txtBold" id="FIELD_JTIT">Senior Mobile</span>
                              </span>
      <span class="paddedline locationGap txtItl" dependency="COMP|JSTA|JCIT">
                                  <span class="companyname" id="FIELD_COMP">MUABAN COMPANY</span>
                                  <span class="jobcity" id="FIELD_JCIT"></span>
                                  <span class="jobstate" id="FIELD_JSTA"></span>
                              </span>

      <span class="jobline" id="FIELD_JDES"></span>
    </div>
  </div></div><div id="PARAGRAPH_EXPR_0f3499c5-b440-4c9d-a9ab-2bfab21aec32" class="paragraph datespara PARAGRAPH_EXPR  "><div class="clearfix doc-item">
    <div class="paddedline date-content hidedates" dependency="JSTD|EDDT">
      <span class="jobdates" dependency="JSTD">2007-03</span><span dependency="JSTD+EDDT"> - </span>
      <span class="jobdates" dependency="EDDT">2007-03</span><br dependency="JTIT|COMP|JSTA|JCIT">
    </div>
    <div class="singlecolumn">
      <div class="paddedline date-content" dependency="JSTD|EDDT">
        <span class="jobdates" id="FIELD_JSTD" format="%Y-%m">2013-01</span><span dependency="JSTD+EDDT"> - </span>
        <span class="jobdates" id="FIELD_EDDT" format="%Y-%m">2015-01</span><br dependency="JTIT|COMP|JSTA|JCIT">
      </div>
      <span class="paddedline" dependency="JTIT">
                                  <span class="jobtitle txtBold" id="FIELD_JTIT">Developer Mobile Game and iOS App, PROJECTS, Project viService</span>
                              </span>
      <span class="paddedline locationGap txtItl" dependency="COMP|JSTA|JCIT">
                                  <span class="companyname" id="FIELD_COMP">GNT COMPANY</span>
                                  <span class="jobcity" id="FIELD_JCIT"></span>
                                  <span class="jobstate" id="FIELD_JSTA"></span>
                              </span>

      <span class="jobline" id="FIELD_JDES"><ul><li>About project: This app support user find motor, car, taxi, delivery quickly and convenient (just like
  Uber, Grab).</li></ul></span>
    </div>
  </div></div><div id="PARAGRAPH_EXPR_d06454e8-7f0e-43d3-b539-f4d65786a1f5" class="paragraph datespara PARAGRAPH_EXPR  "><div class="clearfix doc-item">

    <div class="singlecolumn">

                              <span class="paddedline" dependency="JTIT">
                                  <span class="jobtitle txtBold" id="FIELD_JTIT">Mobile technical, Leader</span>
                              </span>


      <span class="jobline" id="FIELD_JDES"><ul><li>(both iOS and Android).</li><li>Link app: iOS Rider, iOS Driver, Android Rider, Android Driver
   Project Muaban.Net.</li><li>About project: app support for people who want to sell or buy any products.</li><li>It's just like Chotot.</li><li>(both iOS and Android).</li><li>Link app: iOS, Android
   Project Muaban.Net.</li><li>About project: app like a market for sell and buy products for lifestyle.</li><li>(Just like Shopee, Lazada).</li><li>Position, (both iOS and Android).</li><li>Link app: no longer support.</li></ul></span>
    </div>
  </div></div></div></div></div></div></div><div data-react-beautiful-dnd-draggable="1" class="sortable-item section-container SortableItem-sibling  data-EDUC"><div class="document-tool sec-tool" id="editIcons" style="right: -2px;"></div><div id="SECTION_EDUC8fa2b7c9-b58b-4172-9311-e224e0c19130" class="section education SECTION_EDUC   multi-para  " data-section-cd="EDUC"><div class=" doc-item"><div class="heading"><div class="sectiontitle" id="SECTIONNAME_EDUC">Education<span class="rename-section text-rename"> </span></div></div><div class=""><div class=""><div id="PARAGRAPH_EDUC_76a8f5f3-87f2-4c80-abe2-64d03771edaa" class="paragraph datespara PARAGRAPH_EDUC firstparagraph  "><div class="clearfix doc-item">
    <div class="paddedline date-content hidedates" dependency="GRST|GRED">
      <span class="jobdates" dependency="GRST">2007-03</span><span dependency="GRST+GRED"> - </span>
      <span class="jobdates" dependency="GRED">2007-03</span>
    </div>
    <div class="singlecolumn">
      <div class="paddedline date-content">
        <span class="jobdates" id="FIELD_GRST" format="%Y-%m">2009-01</span><span dependency="GRST+GRED"> - </span>
        <span class="jobdates" id="FIELD_GRED" format="%Y-%m">2014-01</span>
      </div>

      <div class="paddedline txtItl" dependency="SCIT|SSTA|SCHO">
        <span class="companyname" id="FIELD_SCHO">UNIVERSITY OF TECHNOLOGY</span>
        <span class="joblocation jobcity" id="FIELD_SCIT"></span>
        <span class="joblocation jobstate" id="FIELD_SSTA"></span>
      </div>

      <span class="field" id="FIELD_FRFM">GPA: 7.87/10</span>
    </div>
  </div></div></div></div></div></div></div></div></div></div>
</body>


</html>
